<!DOCTYPE html>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<html>

<head>
  <title>AWaRe</title>
    <!-- //link the file to chart.js javascript file -->
  <script src={{ url_for('static', filename='scripts/report.js') }}></script>	
  <script src={{ url_for('static', filename='scripts/Chart.js') }}></script>
  <script src={{ url_for('static', filename='scripts/d3.v3.min.js') }}></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

	<link href='/tabs.css' rel="stylesheet" type="css"/>
	<!-- <script src="https://d3js.org/d3.v5.js"></script> -->
  <!-- <script src="https://d3js.org/d3.v3.min.js"></script>  -->
  <!-- https://d3js.org/d3.v4.min.js
  https://d3js.org/d3.v3.min.js -->
  
    
  


</head>
 

<body>

</body>


<script>
function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


    
	<input type="date" id="start" name="trip-start"
       value= "2020-05-22"
       min="2018-05-05" max="2018-12-31">
	<script>
	<!-- var today = recived_date; -->
	<!-- var dates = today.getFullYear()+'-'+('0'+(today.getMonth()+1)).slice(-2)+'-'+('0'+(today.getDate())).slice(-2); -->
	<!-- console.log(`Recived Date: ${dates};`)
 -->
	
	
	</script>
	   
	   <button class="go"  id="go">GO</button>


	<!-- need to set all date as variable-->
	

    <!-- Tab links -->
    
	  
      <button class="tablinks" onclick="openCity(event, 'Activity Summary')" id="defaultOpen">HOME</button>
      <button class="tablinks" onclick="openCity(event, 'Activity Detail')" id = "detail" style="display: none">Activity Detail</button>
      
    

    <!-- Tab content -->
    <div id="Activity Summary" class="tabcontent">
		<div><canvas id="pie-chart" width="300" height="100"></canvas></div>
	    
	  
    </div>

    <div id="Activity Detail" class="tabcontent" >
	<div >
	<h1 id="heading">A heading here</h1>
    <p>Duration(Mins)       &emsp;&emsp;           Window name</p>
	<div class="chart-container">
	<div id="chart"></div>
	</div>
      <div><canvas id="chrome-chart" width="300" height="300"></canvas></div>
	
	  </div>
	  
<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>   
  

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->

	
	



</html>